/* line 29, ../sass/styles.scss */
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 35, ../sass/styles.scss */
body {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-image: url(../img/noise.png);
  background-color: #214422;
  background-size: 20%;
  color: white; }

/* line 44, ../sass/styles.scss */
table {
  width: 100%;
  border-collapse: collapse; }
  /* line 47, ../sass/styles.scss */
  table caption {
    font-size: 1.5em; }
  /* line 50, ../sass/styles.scss */
  table tr {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1); }
    /* line 52, ../sass/styles.scss */
    table tr:last-child {
      border-bottom: none; }
    /* line 55, ../sass/styles.scss */
    table tr td {
      padding: 0.3em;
      text-align: center; }

/* line 62, ../sass/styles.scss */
a {
  color: #66ccff; }

/* line 70, ../sass/styles.scss */
.index.games .paging {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  /* line 73, ../sass/styles.scss */
  .index.games .paging .current {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }
  /* line 78, ../sass/styles.scss */
  .index.games .paging span {
    padding: 0.5em; }
/* line 86, ../sass/styles.scss */
.index.games table tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  /* line 90, ../sass/styles.scss */
  .index.games table tr:hover td:nth-child(3), .index.games table tr:hover td:nth-child(4) {
    color: #ff9900;
    transition: 0.5s; }
/* line 99, ../sass/styles.scss */
.index.games table tr td:nth-child(3), .index.games table tr td:nth-child(4) {
  font-family: 'Black Ops One', cursive;
  font-size: 1.70em; }

/* line 108, ../sass/styles.scss */
div#navigation, #content, #footer {
  padding: 1em; }

/* line 112, ../sass/styles.scss */
div#container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: 64em;
  margin: 0 auto; }

/* line 119, ../sass/styles.scss */
div#header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }
  /* line 123, ../sass/styles.scss */
  div#header a {
    text-decoration: none;
    transition: 1s; }
    /* line 126, ../sass/styles.scss */
    div#header a:hover {
      transition: 0.2s; }
  /* line 132, ../sass/styles.scss */
  div#header #logo {
    padding-bottom: 6pt;
    font-family: 'Exo 2', sans-serif;
    margin-right: auto;
    font-size: 4.5em; }
    /* line 137, ../sass/styles.scss */
    div#header #logo a {
      display: block;
      color: white;
      opacity: 0.2; }
      /* line 141, ../sass/styles.scss */
      div#header #logo a:hover {
        opacity: 0.5; }
  /* line 147, ../sass/styles.scss */
  div#header ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 20em;
    border-top: 7px solid rgba(255, 255, 255, 0.2);
    font-size: 1.75em; }
    /* line 154, ../sass/styles.scss */
    div#header ul a {
      opacity: 0.5; }
      /* line 156, ../sass/styles.scss */
      div#header ul a:hover {
        opacity: 1; }
    /* line 161, ../sass/styles.scss */
    div#header ul li {
      display: inline; }

/* line 169, ../sass/styles.scss */
div#wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 7px solid rgba(255, 255, 255, 0.2); }

/* line 176, ../sass/styles.scss */
div#navigation {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border-right: 6px solid rgba(255, 255, 255, 0.2); }
  /* line 181, ../sass/styles.scss */
  div#navigation .ranking {
    margin-top: 1em;
    margin-bottom: 1em; }
    /* line 185, ../sass/styles.scss */
    div#navigation .ranking td {
      padding: 0.2em; }
      /* line 187, ../sass/styles.scss */
      div#navigation .ranking td:nth-child(3) {
        color: #ff9900;
        font-size: 1.2em; }

/* line 203, ../sass/styles.scss */
div#content {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.2); }
  /* line 212, ../sass/styles.scss */
  div#content .content .score {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    font-family: 'Black Ops One', cursive;
    font-size: 4em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75); }
    /* line 220, ../sass/styles.scss */
    div#content .content .score li {
      display: inline;
      padding: 0 20pt 0 20pt;
      -webkit-border-radius: 12px 12px;
      -moz-border-radius: 12px / 12px;
      border-radius: 12px / 12px; }
      /* line 224, ../sass/styles.scss */
      div#content .content .score li:first-child {
        background-color: #cc0000; }
      /* line 227, ../sass/styles.scss */
      div#content .content .score li:last-child {
        background-color: black; }
  /* line 233, ../sass/styles.scss */
  div#content .content .teamsContainer {
    padding: 20pt 0 20pt 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch; }
    /* line 240, ../sass/styles.scss */
    div#content .content .teamsContainer li {
      display: inline; }
    /* line 258, ../sass/styles.scss */
    div#content .content .teamsContainer .team table tr td {
      padding: 5pt 7pt 5pt 7pt; }
      /* line 260, ../sass/styles.scss */
      div#content .content .teamsContainer .team table tr td:nth-child(4) {
        color: #ff9900;
        font-size: 20pt; }

/* line 275, ../sass/styles.scss */
div#footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  opacity: 0.5; }
