// IMPORT
@import 'compass';
@import 'flexbox';

// COLORS
$green: #214422;
$red: #AE130E;
$black: #000000;
$orange: #ff9900;
$blue: #66ccff;

// FONTS
@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('http://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('http://fonts.googleapis.com/css?family=Sonsie+One');

@mixin font_default{
   font-family: 'Alegreya Sans SC', sans-serif;
}
@mixin font_logo{
   font-family: 'Sonsie One', cursive;
}
@mixin font_score{
   font-family: 'Black Ops One', cursive;
}


// CSS
*, html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   @extend html;
   @include font_default;
   background-image: url(../img/noise.png);
   background-color: $green;
   background-size: 20%;
   color: white;
}

table{
   width: 100%;
   border-collapse: collapse;
   caption{
      @include border-radius(25pt);
      background-color: rgba(255, 255, 255, 0.055);
      padding:2pt 12pt;
      // border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
      margin: 10pt;
      font-size: 1.5em;
   }
   tr{
      border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
      &:last-child{
         border-bottom: none;
      }
      td{
         padding: 0.3em;
         text-align: center;
      }
   }
}

a{
  color: $blue;
}
button{
   color: white;
   background-color: rgba(0, 0, 0, 0.2);
   font-size: 1em;
   border: 0;
   padding: 5pt;
}
h2{
   font-size: 1.2em;
}

.link,.index{
      tr{
         &:hover{
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            color: $orange;
            transition: 0.5s;
         }
         transition: 0.5s;
      }
      
   }

// PAGINATOR 
.index.games{
   // border:1px solid white;

   .paging{
      @include display-flex();
      @include justify-content(space-between);
      .current{
         background-color: rgba(0, 0, 0, 0.2);
         @include border-radius(15px);
      }

      span{
         padding: 0.5em;
      }
   }

   table{
      tr{
         td{
            &:nth-child(3), &:nth-child(4){
               @include font_score;
               font-size: 1.70em;
            }
         }
      }
   }
}

div#navigation, #content, #footer{
   padding: 1em;
}

div#container {
   @include display-flex();
   @include flex-direction(column);
   max-width: 64em;
   margin: 0 auto;
}

div#header {
   @include display-flex();
   @include flex-flow(row wrap);
   @include align-items(flex-end);
   
   a{
      text-decoration: none;
      transition: 1s;
      &:hover{
         transition: 0.2s;
      }
   }
   
   #logo{
      padding-bottom: 6pt;
      @include font_logo;
      margin-right: auto;
      font-size: 4.5em;
      a{
         display: block;
         color: white;
         opacity: 0.2;
         &:hover{
            opacity: 0.5;
         }
      }
   }
   
   ul{
      @include display-flex();
      @include justify-content(space-around);
      width: 18em;
      border-top: 3px dashed rgba(255, 255, 255, 0.2);
      font-size: 1.75em;

      a{
         opacity: 0.5;
         &:hover{
            opacity: 1;
         }
      }

      li{
      display: inline;
      }
   }
} 


// CONTENT WRAPPER
div#wrapper{
   @include display-flex();
   @include flex-flow(row wrap-reverse);
   // border: 1px solid white;
   border: 7px solid rgba(255, 255, 255, 0.2);
}

// NAVIGATION
div#navigation{
   background-color: rgba(0, 0, 0, 0.2);
   @include flex(1);
   border-right: 3px dashed rgba(255, 255, 255, 0.2);
   min-width: 13.8em;

   .ranking{

      margin-top: 1em;
      margin-bottom: 1em;
      td{
         padding: 0.2em;
         &:nth-child(3){
         color: $orange;
         font-size: 1.2em;
         }
      }
      
   }
   table{
      tr{
         th{
         }
      }
   }
}

// CONTENT
div#content{
   @include flex(3);
   font-size: 1.2em;
   background-color: rgba(0, 0, 0, 0.2);
   min-width: 20em;


   

   .score{
      @include display-flex();
      @include justify-content(center);
      @include align-content(center);
      @include font_score;
      font-size: 4em;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.75);
      li{
         display: inline;
         padding: 0 20pt 0 20pt;
         @include border-radius(12px, 12px);
         &:first-child{
            background-color: $red;
         }
         &:last-child{
            background-color: $black;
         }
      }
   }

   .teamsContainer{
      padding: 20pt 0 20pt 0;
      @include display-flex();
      @include justify-content(space-around);
      @include flex-flow(row wrap);
      @include align-content(center);
      @include align-items(stretch);
      
      li{
         display: inline;
      }
      div{
         &:first-child{
            table{
            }

         }
         &:last-child{
            table{
            }
         }
      }

      .team{
         padding: 10pt;
         width: 18em;
         ul{
            @include display-flex();
            @include justify-content(space-between);
         }
         .vermelhos span{
            background-color: $red;
         }
         .pretos span{
            background-color: $black;
         }
         .banco span{
            background-color: rgba(255, 255, 255, 0.1);
         }
         span{
            // @include border-radius(25pt);
            padding: 5pt;
            // width: 100%;
         }

         .null {
            a{
               color: #999999;
            }
            color: #999999;
         }

         td{
            padding: 5pt 0pt 5pt 0pt;
            &:first-child{
               // width: 15%;
            }
         }
         .orange{
            color: #ff9900;
            font-size: 20pt; 
         }        
         .button{
            padding: 0;
         }
         .OK button{
            &:hover{
               background-color: green;
            }
         }
         .NA button{
            &:hover{
               background-color: red;
            }
         }
             
         
      }

   }
      
   
}

// FOOTER
div#footer{
   @include display-flex();
   @include justify-content(flex-end);
   opacity: 3.5;
}










